.hentry {
    margin-bottom: 30px;
}

.sticky {
    display: block;
}

.bypostauthor {
    display: inline-block;
}

.byline,
.updated:not(.published) {
    display: none;
}

.page-content {
    margin: 35px 0 0;
}

/**
 * Post Formats
 */
.post {
    &-audio {
        iframe {
            height: 146px;
            width: 100%;
        }
    }
    &-gallery {
        margin-bottom: 0;
    }
}

/**
 * Image
 */
.post-img {
    display: block;
}

/**
 * Entry Header
 */
.post {
    .entry-title {
        font-size: 30px;
        font-weight: 400;
    }
}

/**
 * Entry Content
 */

/**
 * Post Tags
 */
.post-tags {
    @extend .tagcloud;
    a {
        margin-right: 4px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }
}

/**
 * Share Button
 */
.post-share-buttons {
    position: relative;
    > .fa {
        padding-right: 8px;
    }
    .share-buttons-text {
        display: inline-block;
        padding-right: 10px;
        color: #222;
        font-size: 16px;
        font-weight: bold;
    }
    a {
        display: inline-block;
        margin-left: 5px;
        text-align: center;
        line-height: 20px;

        &, &:visited {
            color: #999999;
        }

        .fa {
            font-size: 30px;
        }
    }
}

/**
 * Author Information
 */
.author-info {
    overflow: hidden;
    margin-bottom: 50px;
    padding: 30px 15px 30px 30px;
    background: #F8F8F8;
    border-top: 1px solid #E3E3E3;
    &-content {
        overflow: hidden;
    }
    &-img {
        float: left;
        margin-right: 15px;
        line-height: 0;
    }
    &-name {
        display: block;
        font-size: 20px;
        font-weight: bold;
    }
    &-description {

    }
}

/**
 * Post Pagination
 */
.post-pagination {
    margin-bottom: 62px;
    padding: 25px 30px;
    vertical-align: middle;
    background: #F7F7F7;
    > div {
        display: inline-block;
        width: calc(50% - 2px);
        vertical-align: middle;
        line-height: 1;
        a {
            position: relative;
            font-size: 18px;
            line-height: 1.2;
            &:before,
            &:after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @extend %pe-icon-7-stroke;
                font-size: 24px;
            }
        }
    }
    .prev-post {
        padding-left: 15px;
        a:before {
            content: "\e686";
            left: -22px;
        }
    }
    .next-post {
        padding-right: 15px;
        text-align: right;
        a:after {
            content: "\e684";
        }
    }
}

/**
 * Related Post
 */
.post-related {
    > h3 {
        text-transform: uppercase;
    }
    margin-bottom: 20px;
}

/**
 *  404 Page
 */
.page-not-found {
    padding: 100px 0;
    text-align: center;
    .not-found-description {
        font-size: 18px;
    }
}

@include media-breakpoint-up(sm) {
    .page-not-found {
        .search-form input[type="search"] {
            width: 370px;
        }
    }
    .post-gallery {
        &.slick-slider {
            .slick-dots {
                width: auto;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .author-info {
        padding: 15px;
        &-img {
            max-width: 60px;
        }
        &-top {
            padding-bottom: 15px;
        }
    }
}

@include media-breakpoint-up(md) {
    .hentry {
        margin-bottom: 80px;
    }
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.woocommerce-page .main-content {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.boxed .page-wrapper .main-content > .row > .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}