.vc_pie_chart {
    .vc_pie_chart_back {
        border-width: 12px;
        border-color: #D2D4D8 !important;
        opacity: 1;
    }
    .vc_pie_chart_value {
        color: #212121 !important;
    }
}