.saturn-quote {
    position: relative;
    font-size: 20px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -30px;
        top: 5px;
        height: calc(100% - 12px);
        border-left: 3px solid #DDDDDD;
    }
    &.saturn-quote-style2 {
        &:before {
            border-left-color: #444;
        }
    }
}