.post-grid.style1 {
    .post-grid-style1 {
        margin-bottom: 0;
    }
    .more-posts-link {
        padding: 10px 0;
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #222;
        background-color: #EEEEEE;
        text-transform: uppercase;
        i {
            margin-left: 5px;
            font-size: 10px;
        }
    }
}